h1,
h2 {
    font-size: 60px;
    text-align: center;
    font-family: arial;
    margin: 10px;
}

button {
    display: block;
    margin: auto;
}

.container {
    width: 600px;
    margin: auto;
    cursor: url(../img/palu1.png), auto;
}

.container:active {
    cursor: url(../img/palu2.png), auto;
}

/* ? Tanah sebagai wahanya. Dia berada dibelakang */
.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    /* * Karena Tikusnya berada dibelakang tanah, maka setiap element yg lewat dari tanahnya, kita overflow hidden */
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(../img/tanah.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -25px;
}

/* ? Tikus berada didepan tanah */
.tikus {
    width: 100%;
    height: 100%;
    background: url(../img/tikus.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: 0.3s;
}

/* ? Ketika terdapat sebuah elemen tanah dan muncul, maka elemen tikus akan balik ke posisi semula */
.tanah.muncul .tikus {
    top: -15px;
}